.App {
    background: #C2E2A2;
}
  
.wrapper {
    margin: auto;
    width: 100%;
}

.editor-wrapper {
    width: 50%;
    background: #FFF;
    border-radius: 5px;
    padding: 20px 20px;
    min-width: 700px;
    max-width: 700px;
    min-height: 500px;
    max-height: 600px;
    position: relative;
    font: 400 18px/28px "Prumo Deck",serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.editor {
    font: 400 18px/28px "Prumo Deck",serif;
    letter-spacing: 0;
    background: transparent;
    min-width: 760px;
    max-width: 760px;
    min-height: 400px;
    max-height: 600px;
    outline: none; 
    border: none; 
    resize: none;
}

.format-toolbar {
    display: flex;
    border-bottom: solid 1.7px rgba(199, 198, 255, 0.15);
    padding: 10px 0;
    margin: 0 0 10px 0;
}

.tooltip-icon-button {
    cursor: pointer;
    border: 0;
    outline: none;
}

blockquote {
    border-left: 2px solid #e2e2e2;
    color: #a9a9a9;
    font-style: italic;
    margin-left: 0;
    padding-left: 1rem;
}

code {
    background: #eee;
    font-size: 0.8rem;
}

.button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}
  
.button:disabled {
opacity: 0.5;
}


.delta-input-replace {
  border-radius: 5px;
  padding: 2px 0px;
  background-color: #88E0EF;
}

.delta-input-delete {
  border-radius: 5px;
  padding: 2px 1px;
  background-color: #FFADAD;
}

.delta-insert {
  border-radius: 5px;
  padding: 2px 1px;
  background-color: #C2FFD9;
}

.delta-replace {
  border-radius: 5px;
  padding: 2px 0px;
  background-color: #FDA65D;
}

.delta-delete {
  border-radius: 5px;
  padding: 2px 0px;
  background-color: #FE8F8F;
}

.scroll-container {
  overflow-y: scroll;
  min-height: 400px;
  max-height: 520px;
}

div {
  white-space: pre-wrap;
}

div:empty::before {
  color: grey;
}

div[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}
